{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Items</h1>
    <table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>quantité</th>
            <th>prix</th>

        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.name }}</td>
            <td>{{ stock.avalaibleNumber }}</td>
            <td>{{ stock.price }}</a></td>
            <td><a href="/stock/edit/{{ stock.id }}"><button>Modifier</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="/stock/add"><button>Ajouter</button></a>
    <a href="/Home/compteAdmin"><button>Back</button></a>
{% endblock %}
