{% extends 'layout.html.twig' %}

{# TODO: afficher les fleurs (stock) #}

{% block content %}

        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match uk-margin-xlarge-right uk-margin-xlarge-left uk-margin-large-top uk-margin-medium-bottom uk-flex-wrap" uk-grid>
        {% for flower in stock %}
            <div>
                <div class="uk-border-rounded uk-card-hover uk-card uk-card-default ">
                    <div class="uk-card-media-top uk-padding-remove-bottom">
                        <a href="#"> <img src="/assets/images/{{ flower.image }}" alt="rose" class="uk-align-center uk-width-medium">
                    </div>
                    <div class="uk-card-body uk-padding-remove-top">
                        <h3 class="uk-card-title">{{ flower.name }}</h3>
                        </a>
                    </div>
                    <div>
                        <a href="/Panier/add/{{ flower.id }}">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% endfor %}

{% endblock %}