{% extends 'layout.html.twig' %}

{% block title %}Panier - {{ parent() }}{% endblock %}

{% block content %}
    {# TODO : afficher les elements du panier #}

    {# TODO : bouton commander qui renvoi a la page connexion si pas connecté #}
    <form action="/command/commander" class="uk-form-width-small">
        <input class="uk-input" type="submit" value="commander">
    </form>
    {# TODO : connexion -> ajout dans commande -> message commande enregistrée #}

{% endblock %}