{% extends 'layout.html.twig' %}

{% block title %} Inscription - {{ parent() }} {% endblock %}



{% block content %}
    <ul>
        {% for error in errors %}
            <li> {{ error }} </li>
        {% endfor %}

        {% if message is defined %}
            <li> {{ message }} </li>
        {% endif %}
    </ul>

    <form method="post" action="/connexion/addUser" class="uk-form-width-large uk-align-center">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Inscription</legend>

            <div class="uk-block uk-margin">
                <input required class="uk-input"type="text"  name="firstname" placeholder="Nom">
            </div>
            <div class="uk-block uk-margin">
                <input required class="uk-input" type="text" name="lastname" placeholder="Prénom">
            </div>
            <div class="uk-block uk-margin">
                <input required class="uk-input" type="email" name="email" placeholder="Email">
            </div>
            <div class="uk-block uk-margin">
                <input required class="uk-input" type="tel"  name="phone" placeholder="Numéro de téléphone">
            </div>
            <div class="uk-block uk-margin">
                <input required class="uk-input" type="password"  name="password" placeholder="Mot de passe">
            </div>
            <div class="uk-block uk-margin">
                <input class="uk-input uk-form-width-small" type="submit" value="Valider">
            </div>
        </fieldset>
    </form>
    <p class="uk-text-center">Déjà inscrit ? <a href="/Home/LogIn">Connection</a></p>



{% endblock %}