{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Creer un compte client</h2>
    {% include 'Customer/_form.html.twig' %}
    <a href="/Home/compteAdmin"><button class="uk-button uk-button-default">Back</button></a>
    <a href="/Customer/index"><button class="uk-button uk-button-default">retour liste compte client</button></a>
{% endblock %}
