{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Creer un compte client</h2>
    {% include 'Customer/_form.html.twig' %}
    <a href="/Home/compteAdmin"><button>Back</button></a>
    <a href="/Customer/index"><button>retour liste compte client</button></a>
{% endblock %}
