{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit customer {{ customer.title }}</h1>
    {% include 'Customer/_form.html.twig' %}
    <a href="/customer/show/{{ customer.id }}">Back</a>
{% endblock %}
