{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Modifier mes informations</h2>
    {% include 'Customer/_form.html.twig' %}
    {% if session.admin == true %}
    <a href="/Customer/index">Back</a>
    {% else %}
    <a href="/Home/compte">Back</a>
    {% endif %}
{% endblock %}
