{% extends 'layout.html.twig' %}

{% block content %}
<h2> Commandes archivées</h2>
    <table>
    <thead>
        <tr>
            <th>id</th>
            <th>date de commande</th>
            <th>id client</th>

        </tr>
    </thead>
    <tbody>
        {% for command in archivecommand %}
        <tr>
            <td>{{ command.id }}</td>
            <td>{{ command.dateOrder }}</td>
            <td>{{ command.customer_id }}</a></td>
            <td><a href="/stock/edit/{{ stock.id }}"><button>Voir</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="/Home/compteAdmin"><button>Back</button></a>
{% endblock %}