body{
    background: #D7D8EC;
}

.button{
    background-color: #285097;
    color: white;
}

.uk-text-center a {
    color: #285097;
}

svg{
    height: 20px;
}

/*navbar*/
nav .uk-logo{
    width: 15vw;
}

/* banner*/
.banner{
    text-align: center;
    margin: 1vw 11vw 1vw 11vw;
}
.banner p {
    color: #285097;
}

.banner h1{
    color: #373F41;
}

.banner .button{
    color: white;
    padding: 14px;
}

.banner .button:hover{
    color: #666;
    text-decoration: none;
}

/*formulaires*/
.uk-input:hover{
    border-color: #373F41;
}



/*responsive*/
@media screen and (min-width: 1025px){

}

@media screen and (max-width: 1000px){
    h1{
        font-size: 12px;
    }
}

@media screen and (max-width: 800px){
    h1{
        font-size: 12px;
    }
}