{% extends 'layout.html.twig' %}

{% block content %}
    <h1>BouquetVitrine</h1>
    <ul>
        {% for bouquetVitrine in bouquetVitrines %}
        <section class="vitrine uk-margin-xlarge-right uk-margin-xlarge-left uk-margin-large-top uk-margin-medium-bottom uk-card-small">
            <div class="uk-border-rounded uk-card uk-card-hover uk-card uk-card-default uk-grid-collapse uk-child-width-1-3 " uk-grid>
                <div class="uk-card-media-left uk-cover-container uk-width-1-2 ">
            <li><a href="/bouquetVitrine/show/{{ bouquetVitrine.id }}">{{ bouquetVitrine.name }}. <img src="/assets/images/{{ bouquetVitrine.image }}"></a></li>
                </div>
            </div>
        </section>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

    <a href="/bouquetVitrine/add">Ajouter</a>
{% endblock %}
