{% extends 'layout.html.twig' %}

{% block content %}
    <h1>BouquetVitrine</h1>
    <ul>
        {% for bouquetVitrine in bouquetVitrines %}
            <li><a href="/bouquetVitrine/show/{{ bouquetVitrine.id }}">{{ bouquetVitrine.name }}. <img src="/assets/images/{{ bouquetVitrine.image }}"></a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/bouquetVitrine/add">Ajouter</a>
{% endblock %}
