<div class = 'banner'>
    <h1>Choisi ou compose <i>le</i> bouquet idéal pour toutes les occasions</h1>
    <p class="uk-visible@s">Chez nous, vous pouvez choisir entre des bouquets déjà composés, ou en composer un vous-même! <br/>Une fois commandé, il n'y a plus qu'à se rendre en magasin pour le récupérer!</p>

    <div class = "uk-flex uk-flex-center uk-grid-medium uk-flex-wrap">
        <div>
            <a href="#" class="button">Choisi ton bouquet</a>
        </div>

        <div>
            <a href="#" class="button">Compose ton bouquet</a>
        </div>
    </div>
</div>